/* global selector - set element sizing to border-box model */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body elements set background colour */
body {
    background-color: #d9dcd6;
}

/* set default style for link and paragraph elements */
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* header elements styles */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2A5D79; /* was #2a607c, which could fail color contrast test for accessibility */
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* make "seo" a different colour to reflect the company's logo */
header h1 .seo {
    color: #d9dcd6;
}

/* header contains navigation elements to page anchors */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

/* navigation elements are inline-block to allow them to be side-by-side */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* hero picture section; imgage defined here to allow the nav elements to overlap image correctly */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* style the list of services section */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* style the service item elements */
.service-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.service-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #005B94; /* was #0072bb, which fails color contrast test for accessibility */
    color: #ffffff;
}

.service-item img {
    max-height: 200px;
}

.service-item-img-float-left {
    float: left;
    margin-right: 25px;
}

.service-item-img-float-right {
    float: right;
    margin-left: 25px;
}

/* style the list of benefits section 
the services are on the left (75%), the benefits are on the right*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #175E82; /* was #2589bd, which fails color contrast test for accessibility */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* style the benefit item elements */
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer elements styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}